/* Portfolio Heading Styles */
.portfolio-heading {
  font-weight: bold;
  font-size: 2.5rem;
}

.portfolio-title {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

/* Portfolio Filter Styles */
.portfolio-filter {
  color: #202020;
  font-size: 13px;
  font-weight: 600;
  margin: 0 15px 0 0;
  padding: 0;
  transition: color 0.3s;
}

.portfolio-filter:hover {
  color: var(--primary-color);
}

.portfolio-filter.active-filter {
  border-bottom: 1px solid var(--primary-color);
}

/* Portfolio Items Styles */
.portfolio-items {
  transition: opacity 0.3s ease;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin: 1%;
  transition: transform 0.4s ease;
}

.portfolio-item-inner {
  position: relative;
}

.portfolio-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border: 5px solid lightgray;
}

.portfolio-item:hover .portfolio-image {
  transform: scale(1.1);
}

/* Overlay Styles */
.portfolio-overlay {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 0.9;
}

.portfolio-overlay-icon {
  font-size: 40px;
  color: #fff;
  font-weight: 100;
}

/* Fade Transition Effects */
.portfolio-items .fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.portfolio-items .fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.portfolio-items .fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-items .fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.884); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it appears above all content */
  overflow: hidden; /* Prevent background scrolling */
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
 
  border-radius: 8px;
  overflow: hidden;
}

.modal .close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 1000; /* Above other elements */
}

.modal .nav-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
   border-color:2px solid white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: black;

  transform: translateY(-50%);
  z-index: 1000; /* Above other elements */
}



#imgpreviousbtn {
 left: 2%;
 color: white;
}
.modal .nav-button:last-of-type {
  right: 2%;
  color: white;
}

.modal .modal-image {
  max-width: 100%;
  max-height: 80vh;
  margin: auto; /* Center image */
  display: block; /* Ensure it's a block element */
}

/* Responsive Adjustments */
@media only screen and (max-width: 920px) {
  .portfolio-heading {
    font-size: 2.5rem;
  }
  .modal .modal-image {
    max-width: 78%;
    height: auto;
  }
  .portfolio-title {
    font-size: 1.5rem;
  }

  .portfolio-filter {
    margin: 0 8px 0 0;
  }

  .portfolio-container {
    text-align: center;
  }
}
@media only screen and (max-width: 760px) {
  .portfolio-heading {
    font-size: 1.5rem;
  }
 .portfolio-title {
    font-size: 1.3rem;
  }
  .portfolio-filter {
  font-size: 10px;
  }
}